.nav-link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.text{
    color: yellow;
}
.text1{
    color: blueviolet;
}
.textheader{
    color:yellow;
}
img:nth-child(1){
    opacity: 1;
    backface-visibility: hidden;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    text-align: center;
    color:yellow;
    font-size: 60px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
   
    
}
img:nth-child(1):hover{
    opacity: 1;
    

}
.caption:hover{
    opacity: 1;
}
.text2{
color:blue;
}
.text3{
    color:red;
}

#progress1{
    position: relative;
    background: #333;
    border-radius: 13px;
    height: 10px;
    width: 240px;
    padding: 3px;
}
#progress1:after {
    content: '';
    display: block;
    background: red;
    width: 75%;
    height: 100%;
    border-radius: 9px;
}
#progress2{
    position: relative;
    background: #333;
    border-radius: 13px;
    height: 10px;
    width: 240px;
    padding: 3px;
}
#progress2:after {
    content: '';
    display: block;
    background: yellow;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}
#progress3{
    position: relative;
    background: #333;
    border-radius: 13px;
    height: 10px;
    width: 240px;
    padding: 3px;
}
#progress3:after {
    content: '';
    display: block;
    background: Pink;
    width: 60%;
    height: 100%;
    border-radius: 9px;
}
.java{
    font-size: 13px;
}

.chartheader{
    font-size: 13px;
}
h5{
color:yellow;
}
.text4{
    color:lightgreen;
}

.carousel-item{
    transition: transform 0,1s ease out;
}
